<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mvc.practicing.repository.AnimalMapper">
    <!--    mapper namespace 에 이름 넣기   -->


    <insert id="save" >
        INSERT INTO ANIMALS
            (ANI_NAME, ANI_AGE, ANI_GENDER, ANI_GUARDIAN, ANI_ADDR, ANI_TYPE)
        VALUES (#{aniName} , #{aniAge} , #{aniGender} , #{aniGuardian} , #{aniAddr}, #{aniType} )
    </insert>
    
    <select id="findAll" resultType="animal">
        SELECT ANI_NUM, ANI_NAME, ANI_AGE, ANI_GENDER, ANI_GUARDIAN, ANI_ADDR, ANI_TYPE
        FROM ANIMALS

    </select>


    <select id="findOne" resultType="animal">
        SELECT
            ANI_NAME, ANI_AGE, ANI_GENDER, ANI_GUARDIAN, ANI_ADDR, ANI_TYPE
        FROM ANIMALS
        WHERE ANI_NUM = #{aniNum}

    </select>

    <delete id="deleteByNum">
        DELETE FROM ANIMALS
        WHERE ANI_NUM = #{aniNum}
    </delete>


</mapper>