<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 에는 인터페이스 풀네임(페키지+인터페이스 이름)-->
<mapper namespace="com.example.mvc.chap05.repository.BoardMapper">

    <select id="findAll" resultType="board">
        SELECT
        board_no, title,
        content, view_count, reg_date_time, ACCOUNT
        FROM tbl_board
        <if test="type == 'title'">
            WHERE title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'content'">
            WHERE content LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'tc'">
            WHERE title LIKE CONCAT('%', #{keyword}, '%')
            OR content LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY board_no DESC
        LIMIT #{pageStart}, #{amount}
    </select>

    <select id="findOne" resultType="board">
        SELECT
            B.BOARD_NO, B.TITLE, B.CONTENT, B.VIEW_COUNT, B.REG_DATE_TIME
             , B.ACCOUNT, M.NAME AS WRITER
        FROM TBL_BOARD B
                 JOIN tbl_member M
                      ON B.ACCOUNT = M.ACCOUNT
        WHERE BOARD_NO = #{boardNo}

    </select>

    <insert id="save">
        INSERT INTO tbl_board
            (TITLE, CONTENT, ACCOUNT)
        VALUES (#{title}, #{content}, #{account})

    </insert>

    <delete id="deleteByNo">
        DELETE FROM tbl_board
        WHERE BOARD_NO = #{boardNo}


    </delete>

    <update id="upViewCount">
        UPDATE tbl_board
        SET VIEW_COUNT = VIEW_COUNT + 1
        WHERE BOARD_NO = #{boardNo}
    </update>
    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM tbl_board
        <if test="type == 'title'">
            WHERE title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'content'">
            WHERE content LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'tc'">
            WHERE title LIKE CONCAT('%', #{keyword}, '%')
            OR content LIKE CONCAT('%', #{keyword}, '%')
        </if>


    </select>


</mapper>