<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 에는 인터페이스 풀네임(패키지+인터페이스 이름)-->
<mapper namespace="com.example.mvc.chap05.repository.MemberMapper">

    <insert id="save">
        INSERT INTO TBL_MEMBER
            (ACCOUNT, PASSWORD, NAME, EMAIL)
        VALUES (#{account}, #{password}, #{name}, #{email})

    </insert>
    <select id="findMember" resultType="member">

        SELECT ACCOUNT, PASSWORD, NAME, EMAIL, AUTH, REG_DATE
        FROM TBL_MEMBER
        WHERE ACCOUNT = #{account}

    </select>


    <select id="isDuplicate" resultType="int" >
        SELECT COUNT(*)
        FROM tbl_member
        <if test="type == 'account'">
            WHERE ACCOUNT = #{keyword}
        </if>

        <if test="type == 'email'">
            WHERE EMAIL = #{keyword}
        </if>
    </select>


    <update id="saveAutoLogin">
        UPDATE tbl_member
        SET session_id = #{sessionId}, LIMIT_TIME = #{limitTime}
        WHERE ACCOUNT = #{account}
    </update>


    <select id="findMemberByCookie" resultType="member">
        SELECT ACCOUNT, NAME, EMAIL, AUTH, LIMIT_TIME
        FROM tbl_member
        WHERE session_id = #{sessionId}
    </select>







</mapper>
