<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 에는 인터페이스 풀네임(페키지+인터페이스 이름)-->
<mapper namespace="com.example.mvc.chap04.respository.ScoreMapper">

    <insert id="save">
        INSERT INTO tbl_score
            (NAME, KOR, ENG, MATH,TOTAL, AVERAGE, GRADE)
        VALUES (#{name},#{kor},#{eng},#{math},#{total},#{average},#{grade})


    </insert>

    <delete id="deleteByStuNum">
        DELETE FROM tbl_score
        WHERE STU_NUM = #{stuNum}
    </delete>
    
<!--    <resultMap id="score" type="com.example.mvc.chap04.entity.Score">-->
<!--        <result property="stuNum" column="stu_num"/>-->
<!--    </resultMap>-->

    <select id="findAll" resultType="score">
        SELECT * FROM tbl_score
        <if test="sort == 'num'">
            ORDER BY STU_NUM
        </if>
        <if test="sort == 'name'">
            ORDER BY NAME
        </if>
        <if test="sort == 'avg'">
            ORDER BY AVERAGE DESC
        </if>
    </select>

    <select id="findByStuNum" resultType="score">
        select * from tbl_score
        where STU_NUM = #{stuNum}
    </select>



</mapper>